* {
    margin: 0;
    padding: 0;
}

/* nav */
.navbar { 
   background-color: rgb(59, 59, 59);
   position: relative;

}

.nav-link {
    color: white !important;
    margin-left: 10px;
    margin-right: 15px;
    
}

/* jumbotron */
.jumbotron {
    background-image: url(../img/1.png);
    background-size: cover;
    height: 400px;
    position: relative;
    
}


.jumbotron img {
    margin-top: 50px;
    width: 110px;
}


.jumbotron h3 {
    color: white;
    font-size: 30px;
    font-family: viga;
    margin-top: 25px;
}

.jumbotron hr{
    width: 70px;
    border: 1px solid white;
    margin: 10px auto 10px;
}

.jumbotron p {
    color: white;
    font-size: 20px
}


/* about */

.container-about {
    margin: auto;
    width: 300px;
}

.about h2, .skill h2, .project h2, .contact h2 {
    font-size: 25px;
    color: rgb(87, 87, 87);
}
.about p {
    font-size: 15px;
    font-style: italic;
    color: rgb(105, 105, 105);
    line-height: 27px;
}

/* Skill */
.container-skill {
    width: 300px;
    margin: auto;
}

.skill h2 {
    text-align: center;
    margin-top: 30px;
}

.skill .hr1 {
    width: 40px;
    margin: auto;
    margin-bottom: 30px;
    border: 1px dashed rgb(124, 124, 124);
    margin-top: -7px;
}

.skill p {
    text-align: center;
    font-size: 15px;
    
}

.skill button {
    margin-left: 10px;
    font-size: 15px;
    width: auto;
    margin-top: 10px;
}

.skill .hr2 {
    
    margin: auto;
    margin-bottom: 30px;
    border: 1px dashed rgb(158, 158, 158);
    margin-top: 30px;
    
}

/* project */
.project {
    background-color: rgb(241, 242, 245);
    margin-top: 40px;
    height: 400px;
}

.container-project {
    width: 300px;
    margin: auto;
}


.project hr {
    width: 50px;
    margin: auto;
    margin-bottom: 30px;
    border: 1px solid rgb(124, 124, 124);
}

.project h2, .contact h2 {
    padding-top: 22px;
}

.project a:hover {
    opacity: 0.8;
    cursor: pointer;
  
  }




/* contact */
.contact {
    background-size: cover;
    background-image: url(../img/4.jpg);
    height: 200px;
   
}


.contact hr {
    width: 50px;
    border: .8 solid rgb(126, 124, 124);
    margin: 0 auto 10px;
    
    
}

.contact p {
    font-size: 15px;
    margin-bottom: 5px;
    color: rgb(71, 71, 71);
    font-family: 'Jost';
    font-weight: 200;
    
}

.contact i {
    font-size: 40px;
    margin-bottom: 5px;
}

.contact h6 {
    font-size: 14px;
    color: rgb(71, 71, 71);
    font-family: 'Jost', sans-serif;
    

}


/* footer */
footer {
    background-color: rgb(59, 59, 59);
  position: absolute;
  width: 100%;
  height: 70px;
  padding-top: 15px;
}

footer p {
    padding-top: 10px;
    color: white;
    font-size: 12px;
}



@media (min-width: 768px) { 

     /* navbar */
     .navbar {
        position: fixed;
        width: 100%;
        z-index: 1;
    }

    /* navlink */
    .nav-link {
        color: white !important;
        margin-left: 35px;
        margin-right: 15px;
        
    }

    
/* jumbotron */
.jumbotron {
    height: 550px; 
}

.jumbotron img {
    margin-top: 100px; 
    width: 200px;
}


.jumbotron h3 {
    font-size: 40px;
    margin-top: 30px; 
}


.jumbotron p {
    font-size: 25px; 
}


/* about */
.container-about {
    width: 500px;
}

.container-skill {
    width: 400px;
}


/* Skill */
.container-skill {
    width: 400px; 
}

   /* footer */
footer {
    height: 100px;
    padding-top: 35px;
  }
  
  footer p {
      font-size: 16px;
  }
  

}



/*Desktop Version*/
@media (min-width: 992px) { 

    /* navbar */
    .navbar {
        position: fixed;
        width: 100%;
        z-index: 1;
    }

    /* navlink */
    .nav-link {
        text-transform: uppercase;
    }

    .nav-link {
        color: white !important;
        margin-left: 40px;
        margin-right: 15px;
        
    }

    .nav-link:hover::after {
        content: '';
        display: block;
        border-bottom: 2px solid rgb(255, 255, 255);  /*warna diganti*/
        width: 50%;
        margin: auto;
        padding-bottom: 3px;
        margin-bottom: -5px;
      }
      

    /* Jumbotrom */

    .jumbotron {
        height: 700px;
        background-position-y: -50px ;

    }

    /* about */
    .container-about {
        width: 700px;
    }
    /* skills */
    .container-skill {
        width: 800px;
    }

    /* project */
    .container-project {
        width: 900px;
    }

    .project {
        height: 330px;
    }

    .project hr {
        margin-bottom: 40px;
    }
    /* contact */
    .contact {
        height: 280px;
      
    }

    .container-contact {
        padding-top: 10px;
    }

    .contact p {
        font-size: 22px;
        margin-bottom: 10px;

    }

    .contact hr {
        margin-bottom: 20px;
    }

    .contact i {
        font-size: 50px;
        margin-bottom: 10px;
    }

    .contact h6 {
        font-size: 16px;

    }
    /* footer */

}