.navbar {
  background-color: #322F3D;
  height: auto;
  border-bottom: 1px solid #333;
  
} 

.nav-bar {
font-family: 'Crete Round';
color: white !important;
font-size : 20px;
}

.nav-link {
 font-family: 'Noto Sans';
 color: white !important;
 font-size : 15px;

} 

/* 
// Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  .navbar {
    height: 55px;
  } 

  .nav-link {
    margin : auto;
    margin-right: auto;
    font-size : 17px;
   } 

   .nav-men {
     margin-right: 15px;
     margin-left: 95px;
   }
}

  



