/* Figure */

.figure h5 {
    color: black;
    font-family: 'Noto Sans';
    font-size: 15px;
}

.figure p {
    color: #707070;
    font-family: 'Sanchez';
    font-size: 15px;
}


/* Gallery */
.gallery .card-img .ab {
    transition: opacity 0.3s;
  }
  
.gallery .card-img:hover .ab {
    opacity: 0.6;
  }
  
.container-gallery {
    background-color: #FFF3F7;
    padding: 30px;
    
  }


  /* Designer */

  .figure-caption h4 {
    padding: 6px;
    color: rgb(68, 59, 66);
    font-family: 'Noto Sans';
    font-size: 15px;
}

/* Category */

.category-title {
  font-size: 23px;
  font-family: 'Noto Sans';
  font-weight: 600;
  color: #442941;
  text-transform: uppercase;
}

.category-subtitle {
  font-size: 11px;
  font-family: 'Noto Sans';
  color: #442941;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 20px;
}

.women hr {
  margin-top: 7px;
  margin-bottom: 9px;
  border: .7 solid rgb(66, 52, 63);
}

.women h3 {
  
  font-size: 19px;
  font-weight: 600;
  color: #544664;
}


.img-category {
    position: relative;
    margin-bottom: 20px;
}

.img-category span {
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(200,200,200, 0.5);
    position: absolute;
    top: 0;
    text-align: center;
    line-height : 170px;
    color: #333;
    text-shadow: 1px 1px 2px #ddd;
    opacity: 0;
    transition : .3s;
    font-size: 25px;
    font-family: 'Crete Round';
    
}

.img-category a:hover span {
    opacity: 1;
  }


  /* Details */

.img-single {
  width: 360px;
  height: 375px;
  margin-left: 10px;
}



.detail {
  margin-top: 35px;
  margin-left: 30px;
  margin-right: 30px;
}

.btnminus {
    background-color: #F2EFF3 ;
}

.btnplus {
    background-color: #7E6987  ;
}

.ket-product {
    border-bottom: 1px solid #C5A8D1 ;
    width: 340px;
    font-size: small;
  }

.btn-product {
    
    background-color: #7E6987; 
    color: white; 
    font-family: 'Crete Round';
  }

.designed-by .design-img {
    width: 50px;
    height: 50px;
    
}
.designed-by {
    margin: 15px 0 5px 7px;
  }
  
.designed-by h5 {
    font-size: 15px;
    color: #817487;
    margin-bottom: 15px;
    font-family: 'Noto Sans';
  }
  
.designed-by h4 {
    font-size: 15px;
    transform: translateX(-20px);
    font-weight: 600;
    margin-top: 3px;
    margin-bottom: 0;
    margin-left: 10px;
  }
  
.designed-by p{
    font-size: 14px;
    color: #817487 ;
    transform: translateX(-20px);
    margin-top: 5px;
    margin-left: 10px;
  }

  .description-review {
   margin-top: 20px;
   margin-left: 25px;
   margin-right: 25px;
  }
  
  .product-description {
     /* border: 1px solid #dee2e6;  */
    border-top: 0;
    padding: 0;
    margin-left: 11px;
     
  }
  
  .product-description p {
    font-size: 14px;
    color: #707070;
  }
  
   .product-review {
    /* border: 1px solid #dee2e6; */
    border-top: 0;
    padding-top: 0;
    margin-top:0;
    margin-left: 11px;
    height: 400px;
    
    overflow: auto;
   
  } 
  
  .product-review h5 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 4px;
  }
  
  .product-review p {
    font-size: 14px;
  }

  /* Masuk */

  .container-login {
   padding-top: 60px;
  }

  .container-backgroundlogin  {
    width: 430px;
    height: auto;
    background-color: #FFF3FF;
    margin: auto;
    margin-bottom: 80px;
  }

  .container-backgroundlogin h2, .container-backgroundsignup h2 {
    padding-top: 20px;
  } 

  .container-backgroundlogin form, .container-backgroundsignup form {
    font-size: 12px;
  }

  .container-backgroundlogin label, .container-backgroundsignup label {
    font-size: 14px;
  }

  .container-backgroundlogin input,
  .container-backgroundsignup input,
  .container-backgroundsignup select {
    font-size: 13px;
  }

  .container-backgroundlogin .login-btn, .container-backgroundsignup .login-btn {
    font-size: 15px;
    color: white;
    background-color: #BA7BD4;
  }


  /* Daftar */
  .container-signup {
    padding-top: 60px;
  }

  .container-backgroundsignup {
    width: 450px;
    height: auto;
    background-color: #FFF3FF;
    margin: auto;
    margin-bottom: 80px;
    
  }


/* Desktop */
  @media (min-width: 992px) {

  .figure-caption h4 {
      font-size: 20px;
      padding: 8px;
  }

  .women h3 {
    font-size: 23px;
  }

  .img-category span {
    line-height : 216px;
    font-size: 30px;
  }

  .figure h5 {
      font-size: 20px;
  }
  
  .figure p {
      font-size: 17px;
  }

  .container-detail {
    width: 1000px;
    margin: auto;
  }

  .detail {
    margin-top: 0;
    padding-left: 30px;
  }

  .img-single {
    width: 370px;
    height: 400px;
    
  }
  
  .ket-product {
    width: 360px;
  }

.designed-by .design-img {
    width: 64px;
    height: 64px;
}

.designed-by {
    margin: 15px 0 7px;
  }
  
.designed-by h5 {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
.designed-by h4 {
    font-size: 18px;
    transform: translateX(-20px);
    margin-top: 7px;
    margin-bottom: 0;
    margin-left: 0;
  }
  
.designed-by p{
    font-size: 14px;
    transform: translateX(-20px);
    margin-top: 5px;
    margin-left: 0;
  }

  .description-review {
    margin-left: 10px;
    margin-top:20px;
    border: 0;
    margin-bottom:0;
  }
  
  .product-description {
     /* border: 1px solid #dee2e6;  */
    border-top: 0;
    padding: 0;
    margin-left: 11px;
     
  }
  
  .product-description p {
    font-size: 14px;
  }
  
   .product-review {
    /* border: 1px solid #dee2e6; */
    border-top: 0;
    padding-top: 0;
    margin-top:0;
    margin-left: 11px;
    height: 300px;
    width: 100%;
  } 
  
  .product-review h5 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 4px;
  }
  
  .product-review p {
    font-size: 14px;
  }

  .similar {
    margin-left: 10px;
  }

  .container-backgroundsignup {
    width: 640px;
  }


}

