.footerp {
    margin-top: -100px;
}

footer {
    background-color: rgb(240, 219, 240);
    padding: 25px;
    margin-top: 25px;
    height: 210px;
    font-family: 'Noto Sans';
  }

  .footernav, footer.p{
    color: #322F3D !important;
  }

  .icon {
    margin-top: 20px;
}

.icons {
    margin-right: 20px;
}


@media (min-width: 992px) {
   
.icon {
    margin-bottom: 25px;
}

.footerp {
    margin-top: 20px;
    font-size: 17px;
}

}